[Unit]
Description=GitHub Actions Runner
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=root
WorkingDirectory=/opt/actions-runner
ExecStart=/opt/actions-runner/register-runner.sh
Restart=no
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target